@charset "UTF-8";

* { 
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image:linear-gradient(to right, #EB6B02, #E8B004 )
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #046abd6e;
    width: 600px;
    padding: 10px;
    margin: auto;    
}

h1 {
    color: #EB6B02;
    text-align: center;
    text-shadow: 1px 1px 2px #aa5c0ee5;
}

h2 { 
    color: #4F6A7D;
}


















p {
    text-align: justify;
}